{% extends 'client.html.twig' %}

{% block title %}Nouveau Ticket{% endblock %}

{% block body %}
    <h1>Enregister un nouveau Ticket</h1>

    {{ include('client/ticket/_form.html.twig') }}


{% endblock %}
