{% extends 'chef_projet.html.twig' %}

{% block body %}

{{ form_start(form) }}
<div class="jumbotron">
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
</div
{{ form_end(form) }}


{% endblock %}